

img,
svg {
    display: block;
    width: 30px;
    margin: 0;
    padding: 0;
}



a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.active {
    color: white;
}

.form-select {
    width: 70px;
}

